<style>
    .omf-modal {
        display: none;
        position: fixed;
        top: 0;
        left: 300px;
        width: 60%;
        height: 50vw;
        background-color: rgba(128, 128, 128, 0.00);
        overflow: auto;
        z-index: 99999;
    }

        .omf-modal .omf-modal-body {
            width: 68.25%;
            padding: 1px;
            margin: auto;
            margin-top: 150px;
            margin-left: 122px;
            background-color: #FFFFFF;
            border-style: ridge;
        }

    nav .nav .btn {
        margin-top: 3px;
    }

    #mainBody {
        margin-top: 20px;
        z-index: 999999;
    }

    table, tr, td {
        border: 1px solid black;
    }
    
    .ultab34 {
        list-style: none;
        padding: 0;
        /*margin: auto;*/
        margin-left: 222px;
        margin-top: 10px;
    }

    .litab34 {
        float: left;
        border-bottom-width: 0;
        margin: 3px 3px 3px 3px;
        padding: 8px 5px 25px 5px;
        background-color: #C12D2D;
        color: #FFFFFF;
        border-radius: 3px;
        transition: 0.2s;
        margin-right: -2px;
        width: 175px;
        text-align: center;
        height: 0px;
        cursor: pointer;
    }
    .active34 {
        background-color: #CCCCCC;
        color: #000000;
    }
    #mainView34 {
        clear: both;
        padding: 0 1em;
    }
    /*.redd {
        background-color: #fa6262;
        color: #ffffff;
    }*/

    .blue {
        background-color: #708090;
        color: #ffffff;
    }
    .yellow {
        background-color: #ffd700;
    }
    
</style>

<div ng-app="Ambucare" ng-controller="T74134Controller" style=" width: 90%" ng-init="PatInfo()">
    <div style="width: 100%;">
        <input type="hidden" ng-model="obj.t74039.T_REQUEST_ID" style="text-align: left" />
    </div>


    <div>
        <!--<div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12" style="text-align: center">

                <div class="col-lg-1 col-md-1 col-sm-1" ></div>
                <input id="txtHiddenField" type="hidden" style="width: 50px" ng-model="hiddenField" />
                <div class="col-lg-11 col-md-11 col-sm-11">
                    <input type="hidden" id="hidnEmpInformation" ng-model="obj.Hidenfield" />
                    <input type="hidden" id="hidnPat_ID" ng-model="obj.T_PAT_ID" />
                    <div id="tabs">
                        <ul class="ultab34">
                            <li class="litab34" ng-repeat="tab in tabs"
                                ng-class="{active34:isActiveTab(tab.url)}"
                                ng-click="onClickTab(tab)">{{tab.title}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row text-center">

            <div class="col-lg-12 col-md-12 col-sm-12">
                <div id="mainView34">
                    <div ng-include="currentTabService"></div>
                </div>
            </div>
        </div>-->


    </div>



    <!--<script type="text/ng-template" id="tabMedication.tpl.html">-->

    <div class=" col-lg-12 col-md-12 col-sm-12" style="margin-top: 10px;">
        <div class="div_back">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="col-lg-9 col-md-9 col-sm-9">
                <input id="ck" class="Hidden" type="checkbox" ng-model="obj.showPreviusMedicen" ng-click="Show_MedicinePopup()" ng-true-value="'YES'" ng-false-value="'NO'" style="float: right"/>
                <label id="lblchk" ng-repeat="field in entity track by $index" ng-if="field.T_LABEL_NAME=='lblAdminMediDetails'" class=" ng-cloak" style="float: right; font-weight: bold; cursor: pointer" for="ck">{{field.T_LANG2_TEXT}}</label>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
                <input type="text" style="float: right; margin-right: -29px; width: 100%; height: 25px" placeholder="Search...." class="form-control" ng-model="Search"/>
            </div>


        </div>
        <table style="width: 100%; margin-bottom: 10px;">
            <thead style="text-align: center; display: table; width: 100%;">
            <tr style=" color: white;" class="head-border">
                <td ng-repeat="field in entity track by $index" ng-if="field.T_LABEL_NAME=='lblMediItemId'" class="ng-cloak" style="width: 8%; font-weight: bold">{{field.T_LANG2_TEXT}}</td>
                <td ng-repeat="field in entity track by $index" ng-if="field.T_LABEL_NAME=='lblMediItemName'" class="ng-cloak" style="width: 47%; font-weight: bold">{{field.T_LANG2_TEXT}}</td>
                <td ng-repeat="field in entity track by $index" ng-if="field.T_LABEL_NAME=='lblMediStockQty'" class="ng-cloak" style="width: 10%; font-weight: bold">{{field.T_LANG2_TEXT}}</td>
                <td ng-repeat="field in entity track by $index" ng-if="field.T_LABEL_NAME=='lblMediSugQty'" class="ng-cloak" style="width: 10%; font-weight: bold">{{field.T_LANG2_TEXT}}</td>
                <td ng-repeat="field in entity track by $index" ng-if="field.T_LABEL_NAME=='lblMediQty'" class="ng-cloak" style="width: 18%; font-weight: bold">{{field.T_LANG2_TEXT}}</td>
                <td ng-repeat="field in entity track by $index" ng-if="field.T_LABEL_NAME=='lblMediIssue'" class="ng-cloak" style="width: 7%; font-weight: bold">{{field.T_LANG2_TEXT}}</td>


            </tr>
            </thead>
            <tbody style="max-height: 320px; min-height: 0px; overflow: auto; overflow-x: hidden; display: block;">
            <tr ng-repeat="I in obj.ItemList | cartypefilter:Search" style="display: table; text-align: center; width: 100%; table-layout: fixed;" ng-class="{'blue':(I.ADMINISTERED_QUTY != null),'yellow':(I.T_DOSE_DURATION_CODE != null && I.ADMINISTERED_QUTY == null)}">
                <td class="hidden">{{I.T_STORE_ID}}</td>
                <td style="width: 8%;">{{I.T_ITEM_ID}}</td>
                <td style="width: 47%; text-align: left; padding-left: 5px">{{I.T_LANG2_NAME}}</td>
                <td style="width: 10%;">{{I.STOCK}}</td>
                <td style="width: 10%;">{{I.T_DOSE_DURATION_CODE}}</td>
                <td style="width: 18%;">
                    <input type="button" value="-" style="width: 20px; height: 20px;" ng-click="Number_Click('minus',$index)"/>
                    <input type="text" style="width: 50%; background: #F5F5F5; font-weight: bolder; text-align: center" ng-model="I.ISSU_QTY" ng-blur="PutQty_Click($index)"/>
                    <input type="button" value="+" style="width: 20px; height: 20px;" ng-click="Number_Click('plus',$index)"/>
                </td>
                <td style="width: 7%;" ng-class="{'yellow':(I.T_DOSE_DURATION_CODE != null)}"><input type="checkbox" ng-model="I.CHECK" ng-true-value="'YES'" ng-false-value="'NO'" ng-click="CheckForQuanty($index)"/></td>

            </tr>
            </tbody>
        </table>
        </div>
    </div>

    <!--popup start-->

    <div id="ShowPreviusMedication" class="omf-modal">

        <div class="omf-modal-body div_back">

            <div class="omf-modal-header head-border" >

                <label class="ng-cloak" id="lblBedInfromation" style="width: 97%;text-align: center;color: #ffffff">Dose List</label><input type="button" style="background: url(../Images/Cancel_White.png); background-size: 15px; background-repeat: no-repeat; background-position: center; width: 3%; padding-bottom: 7px;" ng-click="ClosePatientPopup()" />
            </div>
            <div class="omf-modal-div-placeholder">
                <input type="text" style="float: right; width: 30%; height: 25px" placeholder="Search...." class="form-control" ng-model="Search1" />

            </div>
            <form class="form-horizontal" ng-submit="Receive()" role="form" name="ReceivepeForm" novalidate>
                <div class="form-group" ng-class="{'has-error': ReceivepeForm.T_SERVICE_NAME.$touched && ReceivepeForm.T_SERVICE_NAME.$error.required , 'has-success': ServiceTypeForm.T_SERVICE_NAME.$valid }">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <table id="bedPopUpTable" style="width: 100%">
                            <thead style="text-align: center; display: table; width: 100%;">
                                <tr style=" color: #ffffff;" class="head-border">
                                    <td style="width: 15%;text-align: center;" class="ng-cloak">Dose</td>
                                    <!--<td style="width: 15%;text-align: center;" class="ng-cloak">Item ID</td>-->
                                    <td style="width: 60%;text-align: center;" class="ng-cloak">Medicine</td>
                                    <td style="width: 15%;text-align: center;" class="ng-cloak">QTY</td>
                                    <td style="width: 10%;text-align: center;" class="ng-cloak">Time</td>

                                </tr>
                            </thead>
                            <tbody style="max-height:300px; min-height:0px; overflow:auto; overflow-x:hidden; display:block;">

                                <tr ng-repeat="B in obj.PreviousMedicineList" ng-class="{'selected':$index == selectedRow}" ng-click="setClickedRow($index,B,'BedPopUp')" style="display:table;text-align: center;width:100%;	table-layout:fixed;">
                                    <td style="width: 15%;text-align: center;" rowspan="{{B.t_index}}" ng-if="!B.matchPreviousRow">{{B.T_DOSE}}</td>
                                    <!--<td style="width: 15%;text-align: center;">{{B.ITEM_CODE}}</td>-->
                                    <td style="width:60%;text-align:left;padding-left: 5px">{{B.ITEM_DESC}}</td>
                                    <td style="width: 15%;text-align: center;">{{B.T_QTY}}</td>
                                    <td style="width: 10%;text-align: center;">{{B.T_ENTRY_TIME}}</td>
                                </tr>
                            </tbody>

                        </table>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!--popup end-->
    <!--</script>-->
    <!--<script type="text/ng-template" id="tabService.tpl.html">
        <div class=" col-lg-12 col-md-12 col-sm-12" style="border: 1px solid #C12D2D; border-radius: 5px; margin-top: 10px">
            <table style="width: 100%;margin-top: 10px;margin-bottom:10px;">
                <thead style="text-align: center; display: table; width: 100%;">
                    <tr style="background-color: #C12D2D; color: white;">
                        <td style="width: 80%; font-weight: bold">Service Name</td>
                        <td style="width: 10%; font-weight: bold">Price</td>
                        <td style="width: 10%; font-weight: bold">Check</td>
                    </tr>
                </thead>
                <tbody style="max-height:320px; min-height:0px; overflow:auto; overflow-x:hidden; display:block;">
                    <tr ng-repeat="S in obj.ServiceList | cartypefilter:Search" style="display:table;text-align: center;width:100%;	table-layout:fixed;">
                        <td class="hidden">{{S.T_COST_TYPE_DTL_ID}}</td>
                        <td style="width: 80%; text-align: left;padding-left: 5px">{{S.T_LANG2_NAME}}</td>
                        <td style="width: 10%;">{{S.T_SALE_PRICE}}</td>
                        <td style="width: 10%;"><input type="checkbox" ng-model="S.CHECK" ng-true-value="'YES'" ng-false-value="'NO'" ng-click="CheckBox_Click($index)" /></td>
                    </tr>
                </tbody>
                <tfoot style="display:table; width:100%;">
                    <tr>
                        <td colspan="2" style="width: 90%;text-align:right;font-weight: bold">Total Price</td>
                        <td style="width: 10%;text-align:right;font-weight: bold">{{obj.T74074.totalPrice}}</td>
                    </tr>
                </tfoot>

            </table>
        </div>




    </script>-->
</div>

