
<style>
    ::-webkit-scrollbar {
        display: none;
    }

    table, tr, td {
        border: 1px solid black;
    }
    /*For PopUp start*/
    .omf-modal {
        display: none;
        position: fixed;
        top: -110px;
        left: 400px;
        width: 60%;
        height: 50vw;
        background-color: rgba(128, 128, 128, 0.00);
        overflow: auto;
        z-index: 99999;
    }

        .omf-modal .omf-modal-body {
            width: 68.25%;
            padding: 1px;
            margin: auto;
            margin-top: 286px;
            margin-left: 122px;
            background-color: #FFFFFF;
            border-style: ridge;
        }

    nav .nav .btn {
        margin-top: 3px;
    }

    #mainBody {
        margin-top: 20px;
        z-index: 999999;
    }
    /*For PopUp end*/
    .left {
        text-align: left;
    }

    .right {
        text-align: right;
    }

    .Lmsg {
        /*background: #C7EDFC;*/
        background: #F0F4F8;
        border-radius: 8px;
        padding-left: 10px;
        padding-bottom: 2px;
        padding-top: 2px;
        /*text-align: justify;*/
    }

    .Rmsg {
        background: #B2D5D7;
        border-radius: 8px;
        padding-right: 10px;
        padding-bottom: 2px;
        padding-top: 2px;
        /*text-align: justify;*/
    }
    .FlRight{float: right}
    .FlLeft{float: left}
</style>

<div ng-app="Ambucare" ng-controller="T74141Controller" id="ChatRoomsContainer" style="padding-left: 10px;padding-right: 10px">
    <div>
        <br />
    <div class="col-lg-12" style="border: 1px solid #DFDFDF; height: 600px; border-radius: 5px; width: 100%; margin-top: -21px;">
    <div id="divbody">
        <div class="col-lg-12" style="height: 535px;" id="OnlineUsers">
            <div class="col-lg-12" style="margin-top: 10px; margin-bottom: -10px;">
                <!--<div style="float: left">
                    <input type="image" src="../Images/TestImage/ContactsIcon.png" style="height: 50px; width: 50px; border-radius: 300px; cursor: pointer;" ng-click="obj.onDocCall()"/>
                    <input type="image" src="../Images/TestImage/request-iconImg.png" style="height: 50px; width: 50px;cursor: pointer;" title="Request to Doc"/>
                </div>-->
                <div style="float: left; margin-left: 20px; margin-top: 15px">
                    <!--<span style="font-weight: bold; color: green;">Online</span><span style="font-weight: bold; color: #c12d2d;">[{{OnlineUsers.length}}]</span>-->
                </div>
                <!--@*<div style="float: left"><h3 style="margin:10px 0px 2px 15px;"><span style="font-weight: bold;">{{UserName}}</span></h3></div>*@-->

                <div style="float: left; margin-left: 20px; padding-top: 15px;">
                    <!--<input type="image" src="/Images/bellIcon.png" style="height: 30px; width: 30px; border-radius: 300px;"/>
                    <span type="text" style="height: 30px; width: 30px; border-radius: 300px; z-index: 999; background-color: #c12d2d; color: #ffffff;">{{messageCount}}</span>-->
                </div>

                <div style="float: right;">
                    <input type="button" value="{{obj.chtDoc}}"  style="background: #405F6E;color: #ffffff;border-radius: 5px;height: 30px;padding: 2px 5px;cursor: pointer; margin-bottom: 1px; vertical-align: top;"/>
                    <!--<input type="image" src="../Images/ReconnectIcon.png" style="height: 30px; width: 40px; border: none;background: none" ng-click="obj.onDocCall()"/>-->
                    <input type="image" src="../Images/ReconnectIcon.png" style="height: 30px; width: 40px; border: none; background: none" ng-click="obj.onDocCall()"/>
                    <label style="border: 1px solid #405F6E; background-color: #405F6E; color: white; border-radius: 20px; width: 17px; height: 17px; text-align: center; margin-left: -13%; cursor: pointer; font-size: 11px;" ng-click="onRcvDocReq()">{{obj.chtReqNo}}</label>
                    <input type="image" src="../Images/ChatIcon-Selected.png" style="height: 30px; width: 40px; border: none; background: #405F6E" ng-dblclick="getChatHistory()" ng-click="obj.onDocCall()"/>
                    <input type="image" src="../Images/CallIcon.png" style="height: 30px; width: 40px; border: none; background: none"/>
                    <!--<input type="image" src="/Images/TestImage/VideoIcon.png" style="height: 30px; width: 30px; border-radius: 300px;"/>-->
                    <input type="image" src="../Images/VideoIcon.png" style="height: 30px; width: 40px; border: none; background: none"/>
                    <!--<input type="image" src="/Images/TestImage/AudioIcon.png" style="height: 30px; width: 30px; border-radius: 300px;"/>-->
                </div>
            </div>
            <!--@*<div class="col-lg-12" style="margin-top: 10px; border-bottom: 1px solid #c12d2d; text-align: center;">
                <h4><span style="font-weight: bold; color: green;">Online</span><span style="font-weight: bold; color: #c12d2d;">[{{OnlineUsers.length}}]</span></h4>
                <input type="text" style="height: 25px; width: 100%; background-color: #ffffff; margin-bottom: 10px;" placeholder="Search Contacts"/>

            </div>*@-->
            <div class="col-lg-12" style="margin-top: 10px; overflow: auto; overflow-x: hidden; height: 85px">
                <div ng-repeat="Hosp in obj.HospWithDoc">
                    <div class="head-border" id="divHosName{{$index}}" style=" color: #ffffff; border-radius: 5px; height: 30px; padding: 2px 5px; font-size: 18px; cursor: pointer; margin-bottom: 1px; width: 400px" ng-click="onHosNameClick($index,Hosp.HOSPITAL_NAME)">
                        <div style="float: left">
                            <span id="spnHosName{{$index}}" style="font-weight: bold;">{{Hosp.HOSPITAL_NAME}}</span>

                            <!--&nbsp;<span id="spnNoOfDoc{{$index}}">[{{Hosp.DOC_NO}}]</span>-->
                        </div>
                        <div style="float: right"><img id="imgHosName{{$index}}" src="../Images/Chat_img/plus_white.png" style="height: 20px; width: 20px;" class="fa-circle"/>
                        </div>
                    </div>
                    <div id="divDocList{{$index}}" style="display: none; width: 300px">
                        <div ng-repeat="Doc in Hosp.docInfo" style="padding-left: 10px; margin-bottom: 5px;">
                            <div style="display: inline-block;">
                                <div ng-show="Doc.TYPE=='Doc'">
                                    <img src="{{apiLink}}/Image/Doctor/{{Doc.HDM_DOC_CODE}}.png" style="height: 50px; width: 50px;" class="fa-circle"/>
                                </div>
                                <div ng-show="Doc.TYPE=='Pat'">
                                    <img src="{{apiLink}}/Image/Patient/{{Doc.HDM_SPCLTY_CODE}}.png" style="height: 50px; width: 50px;" class="fa-circle"/>
                                </div>
                            </div>
                            <div style="display: inline-block; vertical-align: top; padding-top: 5px">
                                <!--@*<span style="font-weight: bold;"><a href="#" onclick=""ng-click="OpenDiv('DocInfo')">{{Doc.DOCTOR}} </a></span><br/><span>{{Doc.HDM_SPCLTY_DSCRPTN}}</span>*@-->
                                <span style="font-weight: bold;"><a href="#" onclick="" ng-click="openPvtChat($parent.$index,$index)">{{Doc.DOCTOR}} </a></span><br/><span>{{Doc.HDM_SPCLTY_DSCRPTN}}</span>
                            </div>
                            <div style="float: right; padding: 10px 10px">
                                <img id="imgDoc{{$parent.$index}}{{$index}}" src="{{Doc.src}}" style="height: 10px; width: 10px;"/>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <!--@*</div>
            <div class="col-lg-8" style="height: 450px;" id="PrivateChatArea">*@-->
            <!--@*<div class="col-lg-12" style="margin-top: 10px; border-bottom: 1px solid #c12d2d;">
                <div style="float: left">
                    <h3 style="margin-top: 3px; margin-bottom: 2px;"><span style="font-weight: bold;cursor: pointer" ng-click="OpenDiv('DocInfo')">{{obj.HospitalName}}</span></h3>
                    <h3 style="margin-top: 3px; margin-bottom: 2px;"><span style="font-weight: bold;" ng-click="OpenDiv('DocInfo')">{{UserName}}</span></h3>
                    <span style="font-size: small">Last Seen 22 mins ago</span>
                </div>
                <div style="float: right; padding-top: 20px;">
                    <input type="image" src="~/Images/TestImage/chatHistory.png" style="height: 30px; width: 30px; border-radius: 300px;" ng-click="getChatHistory()"/>
                    <input type="image" src="~/Images/TestImage/VideoIcon.png" style="height: 30px; width: 30px; border-radius: 300px;"/>
                    <input type="image" src="~/Images/TestImage/AudioIcon.png" style="height: 30px; width: 30px; border-radius: 300px;"/>
                </div>
            </div>*@-->

            <div class="col-lg-12" style="margin-top: 10px; overflow: auto; overflow-x: hidden; height: 355px; width: 100%">
                <div ng-class="(msg.T_SENDER_TYPE == UserInPrivateChat.TYPE )? 'left' : 'right'" ng-repeat="msg in PrivateMessages | filter:({to: UserInPrivateChat.ConnectionId})">

                    <i ng-class="(msg.T_SENDER_TYPE == UserInPrivateChat.TYPE)? 'sender' : 'reciver'"></i>
                    <div>
                        <strong ng-class="(msg.T_SENDER_TYPE == UserInPrivateChat.TYPE )? 'FlRight' : 'FlLeft'">{{msg.T_USER_ID}}-{{msg.U_NAME}}</strong>
                        <strong ng-class="(msg.T_SENDER_TYPE == UserInPrivateChat.TYPE )? 'FlLeft' : 'FlRight'">{{msg.T_TIME| date:' hh:mm:ss'}}</strong>
                    </div>
                    <br />
                    <div>
                        <small ng-class="(msg.T_SENDER_TYPE == UserInPrivateChat.TYPE )? 'pull-left' : 'pull-right'">
                        </small>
                    </div>
                    <div ng-show="msg.message!=null">
                        <p ng-class="(msg.T_SENDER_TYPE == UserInPrivateChat.TYPE )? 'Rmsg' : 'Lmsg'">{{msg.message}}</p>
                    </div>


                    <!--new------------------------start------------>
                    <div ng-show="msg.T_FILE_LOC!=null" ng-class="(msg.T_SENDER_TYPE == 'Doc')? 'Rmsg' : 'Lmsg'">

                        <img src="{{msg.T_FILE_LOC}}" style="height: 100px; width: 100px; cursor: pointer;" class="fa-circle" ng-show="msg.ext=='png'||msg.ext=='jpg'||msg.ext=='jpeg'||msg.ext=='gif'" ng-click="onImageClick(msg.T_FILE_LOC)"/>


                        <img src="{{apiLink}}/Image/UploadedFile/Text_Dummy.png" style="height: 100px; width: 100px; cursor: pointer;" class="fa-circle" ng-show="msg.ext=='txt'" title="{{msg.name}}" ng-click="onImageClick(msg.T_FILE_LOC)"/>

                        <img src="{{apiLink}}/Image/UploadedFile/PDF_Dummy.png" style="height: 100px; width: 100px; cursor: pointer;" class="fa-circle" ng-show="msg.ext=='pdf'" title="{{msg.name}}" ng-click="onImageClick(msg.T_FILE_LOC)"/>

                        <img src="{{apiLink}}/Image/UploadedFile/Word_Dummy.png" style="height: 100px; width: 100px; cursor: pointer;" class="fa-circle" ng-show="msg.ext=='docx'" title="{{msg.name}}" ng-click="onImageClick(msg.T_FILE_LOC)"/>

                        <img src="{{apiLink}}/Image/UploadedFile/Excel_Dummy.png" style="height: 100px; width: 100px; cursor: pointer;" class="fa-circle" ng-show="msg.ext=='xlsx'" title="{{msg.name}}" ng-click="onImageClick(msg.T_FILE_LOC)"/>


                    </div>
                    <!--new------------------------end------------>
                </div>
            </div>

        </div>
        <div class="col-lg-12" style="bottom: 0.1%; width: 100%; background: #D6E5EC; height: 17%; margin-left: -3.8%; position: absolute;">
            <div class="col-lg-12" style="margin-top: 4%; width: 100%; margin-left: -5%;">
                <!--<div style="float: left; width:100%">-->
                <!--<div style="min-height: 9px; font-size: 7px;">
                    {{usertyping}}
                </div>-->
                <!--<textarea id="txt{{UserInPrivateChat.ConnectionId}}" type="text" style="height: 80px; width: 100%" placeholder="Type your message here..." ng-keypress="SkeyPress($event,UserInPrivateChat.ConnectionId,UserInPrivateChat.name)"></textarea>-->
                <textarea id="txt{{UserInPrivateChat.ConnectionId}}" type="text" style="min-height: 80px; max-height: 80px; max-width: 95%; min-width: 95%; margin-top: -1%;" placeholder="Type your message here..." ng-keydown="SendPrivateMessage($event,UserInPrivateChat,UserInPrivateChat.ConnectionId,UserInPrivateChat.name)" ng-model="chatText"></textarea>
                <!--<input type='file' id="flUpld" style="display: none"/>-->
                <input type="file" id="flUpld" ng-model="file" name="file" base-sixty-four-input onload="onFileLoad" maxsize="500" accept="image/*" style="display: none">


                <!--<label>{{file.base64}}</label>-->
                <input type="image" src="../Images/attachment.png" style="height: 25px; width: 25px; border: none; background: none; position: absolute;" id="fileUpload" value="Add"/>
                <input type="image" src="../Images/send.png" style="height: 25px; width: 25px; border: none; background: none; position: absolute; right: -6%;" id="fileSent" ng-click="fileSent()"/>

                <!--<img id="fileUpload" src="/Images/FileUpload.png" style="height: 30px; width: 30px;cursor: pointer" class="fa-circle"/>
                <img id="fileSent" src="/Images/FileSent.png" style="height: 20px; width: 20px;cursor: pointer" class="fa-circle" ng-click="fileSent()"/>-->
                <!--</div>-->
                <!--<div style="float: right; padding-top: 0px;" class="col-lg-1">
                    <input type="image" src="/Images/TestImage/ImageIcon.png" style="height: 20px; width: 20px; border-radius: 300px;"/>
                    <input type="image" src="/Images/TestImage/FileIcon.png" style="height: 20px; width: 20px; border-radius: 300px;"/>
                    <input type="image" src="/Images/TestImage/VideoMessageIcon.png" style="height: 20px; width: 20px; border-radius: 300px;"/>
                    <input type="image" src="/Images/TestImage/SendMessageIcon.png" style="height: 20px; width: 20px; border-radius: 300px; transform: rotate(47deg)" ng-click="SendPrivateMessage(UserInPrivateChat,UserInPrivateChat.ConnectionId,UserInPrivateChat.name)"/>


                </div>-->
            </div>
        </div>
    </div>
    </div>
        
        <div id="PatInfo" class="omf-modal">
            <div class="omf-modal-body" style="height: 400px; overflow: auto; overflow-x: hidden;">
                <div style="text-align: right" class="col-lg-12"><span style="font-weight: bold" ng-click="CloseDiv('PatInfo')">X</span></div>
                <div class="col-lg-12" style="text-align: center">
                    <h3 style="margin-top: 3px; margin-bottom: 2px;"><span style="font-weight: bold;">Patient Information</span></h3><hr />
                </div>
                <div class="col-lg-12">
                    <div style="display: inline-block">
                        <input type="image" src="/Images/TestImage/Masum Vai.jpg" style="height: 150px; width: 150px; border-radius: 30px;" />
                    </div>

                    <div style="display: inline-block; vertical-align: top; margin-left: 10px;">
                        <h4 style="margin-top: 3px; margin-bottom: 1px;"><span style="font-weight: bold;">Masum Billah Mia</span></h4><span style="font-size: x-small">Last Seen 1 hr ago</span> <br />
                        <table>
                            <tr><th>Gender:</th><td>Male</td></tr>
                            <tr><th>Age:</th><td>12 Yrs</td></tr>
                            <tr><th>Nationality:</th><td>Bangladeshi</td></tr>
                            <tr><th>Status:</th><td>married</td></tr>
                            <tr><th>Address:</th><td>Chandpur</td></tr>
                            <tr><th>Contact:</th><td>0258964713</td></tr>
                        </table>
                    </div>
                    <div class="col-lg-12" style="text-align: center">
                        <h3 style="margin-top: 3px; margin-bottom: 2px;"><span style="font-weight: bold;">Diagonosis Information</span></h3><hr />
                    </div>
                    <div class="col-lg-12">

                        <table>
                            <tr><th style="vertical-align: top">Problem:</th><td>Knee Pain</td></tr>
                            <tr><th style="vertical-align: top">Duration:</th><td>5 Days</td></tr>
                            <tr><th style="vertical-align: top">Details:</th><td>The oldest classical Greek and Latin writing had little or no space between words and could be written in boustrophedon (alternating directions). Over time, text direction (left to right) became standardized, and word dividers and terminal punctuation became common. The first way to divide sentences into groups was the original paragraphos, similar to an underscore at the beginning of the new group.[1] The Greek paragraphos evolved into the pilcrow (¶), which in English manuscripts in the Middle Ages can be seen inserted inline between sentences. The hedera leaf (e.g. ☙) has also been used in the same way.</td></tr>


                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div id="DocInfo" class="omf-modal" style="width: 100%;">
            <div class="omf-modal-body" style="height: 450px; width: 810px;">
                <div style="text-align: right" class="col-lg-12"><span style="font-weight: bold;cursor: pointer" ng-click="CloseDiv('DocInfo')">X</span></div>
                <div class="col-lg-12" style="text-align: center">
                    <h3 style="margin-top: 3px; margin-bottom: 2px;"><span style="font-weight: bold;">Patient History</span></h3>
                </div>
                <div class="col-lg-12">
                    <table class="col-lg-12">
                        <tr>
                            <th class="col-lg-2">Name:</th>
                            <td class="col-lg-4" colspan="2"><span>{{obj.pInfo.PATNAME}}</span>
                            <td class="col-lg-4" colspan="2"><span style="font-weight:bold">Age: </span><span>{{obj.pInfo.AGE}}</span></td>
                            <td class="col-lg-2"><span style="font-weight:bold">Religion: </span><span>{{obj.pInfo.RELIGION}}</span></td>
                        </tr>
                        <tr>
                            <th class="col-lg-2">Status</th>
                            <td class="col-lg-2"><span>{{obj.pInfo.MARITAL_STATUS}}</span></td>
                            <th class="col-lg-2">Nationality</th>
                            <td class="col-lg-2"><span>{{obj.pInfo.NATIONALITY}}</span></td>
                            <th class="col-lg-2">Gender</th>
                            <td class="col-lg-2"><span>{{obj.pInfo.GENDER}}</span></td>
                        </tr>
                        <tr>
                            <th class="col-lg-2">Problem</th>
                            <td class="col-lg-2"><span>{{obj.pInfo.T_PROBLEM}}</span></td>
                            <th class="col-lg-2">Duration</th>
                            <td class="col-lg-2"><span>{{obj.pInfo.T_PROBLEM_DURATION}}</span></td>
                            <th class="col-lg-2">Details</th>
                            <td class="col-lg-2"><span>{{obj.pInfo.T_PROB_DETAILS}}</span></td>
                        </tr>
                        <tr>
                            <th class="col-lg-2">Problem Type</th>
                            <td class="col-lg-2"><span>{{obj.pInfo.PROBLEM_TYPE}}</span></td>
                            <th class="col-lg-2">Ch. Complient</th>
                            <td class="col-lg-2"><span>{{obj.pInfo.CHIEF_COMPLIENT}}</span></td>
                            <th class="col-lg-2">ICD10</th>
                            <td class="col-lg-2"><span>{{obj.pInfo.ICD10}}</span></td>
                        </tr>

                    </table>
                    <div class="col-lg-12" style="text-align: center">
                        <h3 style="margin-top: 3px; margin-bottom: 2px;"><span style="font-weight: bold;">Vital Signs</span></h3>
                    </div>
                    <div>
                        <table id="table" class="col-lg-12 col-md-12 col-sm-12">
                            <thead style="text-align: center;display:table; width:100%;">
                                <tr style="text-align: center">
                                    <td style="width:10%;font-weight:bold">Temp</td>
                                    <td style="width:10%;font-weight:bold">Puls</td>
                                    <td style="width:10%;font-weight:bold">BP(Sys)</td>
                                    <td style="width:10%;font-weight:bold">BP(Dia)</td>
                                    <td style="width:10%;font-weight:bold">Resp</td>
                                    <td style="width:10%;font-weight:bold">Spo2</td>
                                    <td style="width:10%;font-weight:bold">Con Label</td>
                                    <td style="width:10%;font-weight:bold">Rating</td>
                                    <td style="width:10%;font-weight:bold">Triage</td>
                                    <td style="width:10%;font-weight:bold">Date</td>
                                    <!--@*<td style="width:2%;font-weight:bold"></td>*@-->
                                </tr>
                            </thead>
                            <tbody style="max-height:70px; min-height:70px; overflow:auto; overflow-x:hidden; display:block;">
                                <tr ng-repeat="obj in obj.PatHistory" style="display:table;	width:100%;	table-layout:fixed;text-align: center">
                                    <td style="width:10%">{{obj.T_TEMP}}</td>
                                    <td style="width:10%">{{obj.T_PULS}}</td>
                                    <td style="width:10%">{{obj.T_BP_SYS}}</td>
                                    <td style="width:10%">{{obj.T_BP_DIA}}</td>
                                    <td style="width:10%">{{obj.T_RESP}}</td>
                                    <td style="width:10%">{{obj.SPO2}}</td>
                                    <td style="width:10%">{{obj.T_CON_LEVEL}}</td>
                                    <td style="width:10%">{{obj.TRIAGE_LEVEL}}</td>
                                    <td style="width:10%">{{obj.RATING}}</td>
                                    <td style="width:10%">{{obj.T_ENTRY_DATE.replace('/Date(','').replace(')/','') | date:"dd/MM/yy"}}</td>
                                    <!--@*<td style="width:2%"></td>*@-->
                                </tr>
                            </tbody>

                        </table>
                        <!--@*<div style="float: right;margin-top: 10px"><span style="font-weight: bold; background-color: #c12d2d; color: white; border-radius: 5px; padding: 3px;cursor: pointer" ng-click="showMedication()">Issued Medication</span></div>*@-->
                        <div>
                            <div class="col-lg-12" style="text-align: center">
                                <h3 style="margin-top: 3px; margin-bottom: 2px;"><span style="font-weight: bold;">Doses</span></h3>
                            </div>
                            <table id="bedPopUpTable" style="width: 100%;margin: auto">
                                <thead style="text-align: center; display: table; width: 100%;">
                                    <tr style="font-weight: bold; color: #000000;">
                                        <td style="width: 50px;text-align: center;" class="ng-cloak">Dose</td>
                                        <td style="width: 50px;text-align: center;" class="ng-cloak">Item ID</td>
                                        <td style="width: 210px;text-align: center;" class="ng-cloak">Medicine</td>
                                        <!--@*<td style="width: 100px; text-align: center;" class="ng-cloak">Sale Price</td>*@-->
                                        <td style="width: 50px;text-align: center;" class="ng-cloak">QTY</td>
                                        <!--@*<td style="width: 100px; text-align: center;" class="ng-cloak">Amount</td>*@-->

                                    </tr>
                                </thead>
                                <tbody style="max-height:90px; min-height:0px; overflow:auto; overflow-x:hidden; display:block;">
                                    <tr ng-repeat="B in obj.PreviousMedicineList |filter : Search" pagination-id="bed" ng-class="{'selected':$index == selectedRow}" ng-click="setClickedRow($index,B,'BedPopUp')" style="display:table;text-align: center;width:100%;	table-layout:fixed;">
                                        <td style="width: 50px;text-align: center;" rowspan="{{B.t_index}}" ng-if="!B.matchPreviousRow">{{B.T_DOSE}}</td>
                                        <td style="width: 50px;text-align: center;">{{B.ITEM_CODE}}</td>
                                        <td style="width:210px;text-align:left;padding-left: 5px">{{B.GEN_DESC}}</td>

                                <!--@*<td style="width: 80px; text-align: center;">{{B.SALE_PRICE}}</td>*@-->
                                        <td style="width: 50px;text-align: center;">{{B.T_QTY}}</td>

                                <!--@*<td style="width: 80px; text-align: center;">{{B.T_TOTAL_AMOUNT}}</td>*@-->


                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>


                </div>
            </div>
        </div>
        <div id="chatHistory" class="omf-modal" style="width: 100%;">
            <div class="omf-modal-body" style="height: 450px; width: 810px;">
                <div style="text-align: right" class="col-lg-12"><span style="font-weight: bold;cursor: pointer" ng-click="CloseDiv('chatHistory')">X</span></div>
                <div class="col-lg-12" style="text-align: center">
                    <h3 style="margin-top: 3px; margin-bottom: 2px;"><span style="font-weight: bold;"> </span></h3><hr />
                </div>
                <div class="col-lg-12" style="max-height:300px; min-height:0px; overflow:auto; overflow-x:hidden; display:block;">
                    <div ng-class="(msg.T_SENDER_TYPE == obj.HospWithDoc[obj.pi].docInfo[obj.i].TYPE )? 'left' : 'right'" ng-repeat="msg in obj.ChatHistoryList">
                        <!--@*<i ng-class="(msg.T_SENDER_TYPE == 'Pat' )? 'sender' : 'reciver'"></i>*@-->
                        <strong>{{msg.T_SENDER_TYPE != obj.HospWithDoc[obj.pi].docInfo[obj.i].TYPE?UserName:obj.HospWithDoc[obj.pi].docInfo[obj.i].DOCTOR}}</strong>
                        &nbsp;
                        <strong>{{msg.T_TIME| date:' hh:mm:ss'}}</strong>
                        <!--@*<small ng-class="(msg.T_SENDER_TYPE == 'Pat' )? 'pull-left' : 'pull-right'">
                        </small>*@-->
                        <div ng-show="msg.T_TEXT!=null">
                            <p ng-class="(msg.T_SENDER_TYPE == obj.HospWithDoc[obj.pi].docInfo[obj.i].TYPE)? 'Rmsg' : 'Lmsg'">{{msg.T_TEXT}}</p>
                        </div>
                        <div ng-show="msg.T_FILE_LOC!=null" ng-class="(msg.T_SENDER_TYPE == obj.HospWithDoc[obj.pi].docInfo[obj.i].TYPE)? 'Rmsg' : 'Lmsg'">

                            <img src="{{msg.T_FILE_LOC}}" style="height: 100px; width: 100px; cursor: pointer;" class="fa-circle" ng-show="msg.ext=='png'||msg.ext=='jpg'||msg.ext=='jpeg'||msg.ext=='gif'" ng-click="onImageClick(msg.T_FILE_LOC)" />


                            <img src="{{apiLink}}/Image/UploadedFile/Text_Dummy.png" style="height: 100px; width: 100px;cursor: pointer;" class="fa-circle" ng-show="msg.ext=='txt'" title="{{msg.name}}" ng-click="onImageClick(msg.T_FILE_LOC)" />

                            <img src="{{apiLink}}/Image/UploadedFile/PDF_Dummy.png" style="height: 100px; width: 100px;cursor: pointer;" class="fa-circle" ng-show="msg.ext=='pdf'" title="{{msg.name}}" ng-click="onImageClick(msg.T_FILE_LOC)" />

                            <img src="{{apiLink}}/Image/UploadedFile/Word_Dummy.png" style="height: 100px; width: 100px;cursor: pointer;" class="fa-circle" ng-show="msg.ext=='docx'" title="{{msg.name}}" ng-click="onImageClick(msg.T_FILE_LOC)" />

                            <img src="{{apiLink}}/Image/UploadedFile/Excel_Dummy.png" style="height: 100px; width: 100px;cursor: pointer;" class="fa-circle" ng-show="msg.ext=='xlsx'" title="{{msg.name}}" ng-click="onImageClick(msg.T_FILE_LOC)" />


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
