
@{
    ViewBag.Title = "PriceSetup";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    legend {
        display: block;
        width: auto;
        padding-left: 2px;
        padding-right: 2px;
        border: none;
        margin-bottom: -5px;
        text-align: center;
    }

    fieldset {
        border: 2px solid #A21217;
        border-radius: 5px;
        padding: 10px;
    }
</style>

<script src="~/Scripts/angular/angular-sanitize.js"></script>
<script src="~/Scripts/select.js"></script>
<link href="~/Content/jquery.dataTables.min.css" rel="stylesheet" />
<script src="~/Scripts/angular/jquery.dataTables.js"></script>
<script src="~/Scripts/angular/angular-datatables.js"></script>
<script src="~/Scripts/angular/jquery.js"></script>
<script src="~/Scripts/angular/angular-modal-service.js"></script>
<script src="~/Apps/JSController/Transaction/T74111Controller.js"></script>
<script src="~/Apps/JSService/LabelService.js"></script>
<script src="~/Apps/JSService/Transaction/T74111Service.js"></script>
<script src="~/Apps/JSFactory/Transaction/AmbulanceFactory.js"></script>

@section container{
    <div id="options" ng-app="Ambucare" ng-controller="T74111Controller">
        <button ID="btnSave" Tooltip="Save" class="Button Save" ng-click="Save()"></button>
        <button ID="btnDelete" ToolTip="Delete" class="Button Delete" ng-click="Delete()"></button>
        <button ID="btnClear" ToolTip="Clear" class="Button Clear" ng-click="Clear()"></button>
        @*<button ID="btnPrint" ToolTip="Print" class="Button Print" ng-click="Print()"></button>*@
    </div>
}

<div class="container" ng-app="Ambucare" ng-controller="T74111Controller">
    <div class="row" style="padding-bottom: 8px">
        <div class="col-lg-12 col-md-12 col-sm-12" style="margin: 1.6% auto; border-radius: 5px; padding: 10px">
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-2"></div>
                <div class="col-lg-8 col-md-8 col-sm-8" style="border: 1px solid #A21217; border-radius: 5px; padding: 10px; padding-bottom: 8px; padding-top: 8px; width: 50%; margin-left: 10%;">
                   <div class="col-lg-4 col-md-4 col-sm-4">
                        <label id="lblAmbulanceType" ng-repeat="field in entity track by $index" ng-if="field.T_LABEL_NAME=='lblAmbulanceType'" class="ng-cloak" AssociatedControlID="">{{field.T_LANG2_TEXT}}</label>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8">
                        <div class="ng-cloak select-box">
                            <ui-select ng-model="obj.A.selected" id="ddlAmbulanceTypeId" theme="select2" on-select="Ambu_click(obj.A.selected.T_COST_TYPE_ID)" append-to-body="true" style="width: 100%;">
                                <ui-select-match placeholder="Select">{{$select.selected.T_LANG2_NAME}}</ui-select-match>
                                <ui-select-choices repeat="A in ambulance | propsFilter: {T_LANG2_NAME: $select.search}">
                                    <div ng-bind-html="A.T_LANG2_NAME | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                            <input type="hidden" id="ddlIAmbulanceTypeId" ng-model="obj.T_COST_TYPE_ID" ng-bind="obj.T_COST_TYPE_ID=obj.A.selected.T_COST_TYPE_ID" style="width: 100%;"/>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2"></div>
            </div>
            <br/>
            <!--For Data Gridview start-->
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <center>
                        <table class="table-responsive">
                            <tr>
                                <td>
                                    <div class="table-responsive">
                                        <table class="table-responsive" id="entry-grid" datatable="" dt-options="dtOptions" dt-columns="dtColumns" dt-instance="dtInstance" class="table table-hover" style="width: 100%;"></table>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </center>
                </div>
            </div>
            <!--For Data Gridview End-->
        </div>
    </div>
</div>

