@{
    ViewBag.Title = "T74130" +
                    "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    #Table:hover {
        background-color: #E17D7D;
    }
    /*for row color in condition start*/
    .redd {
        background-color: #fa6262;
    }

    .T_DISCH_STATUS_COLOR {
        background-color: #A1DD3B;
        color: #ffffff;
    }
    .T_CANCEL_STATUS_COLOR {
        background-color: #ff0000;
        color:#ffffff;
    }
    /*for row color in condition end*/
</style>
<script src="~/Apps/JSController/Transaction/T74130Controller.js"></script>
<script src="~/Apps/JSService/Transaction/T74130Service.js"></script>
<script src="~/Apps/JSService/LabelService.js"></script>
<script src="../../Apps/JSFactory/Transaction/T74130PatFactory.js"></script>
<script src="../../Apps/JSService/Transaction/T74015Service.js"></script>
<script src="~/Scripts/dirPagination.js"></script>
@section container{
    <div id="options" ng-app="Ambucare" ng-controller="T74130Controller">
        <button id="btnSave" tooltip="Save" class="Button Save" ng-click="Save_Click()"></button>
        <button id="btnDelete" tooltip="Delete" class="Button Delete" ng-click="Delete()"></button>
        <button id="btnClear" tooltip="Clear" class="Button Clear" ng-click="Clear()"></button>
    </div>
}
<div class="container" ng-app="Ambucare" ng-controller="T74130Controller">
    <div class="row">
        <br />
        <br />
        <div>
            <div style="margin: 10px auto; width: 900px; border: 1px solid #A21217; border-radius: 5px; padding: 10px">
                <input type="text" style="width: 25%; height: 28px;" placeholder="Search...." ng-model="search" />
                <div style="border: 1px solid #A21217; border-radius: 5px;">
                    <center>
                        <table class="table table-bordered ng-cloak" style="margin: auto">
                            <thead style="text-align: center">
                                <tr bgcolor="#D8454B" style="color: #ffffff">
                                    <th style="text-align: center">Select</th>
                                    <th class="hidden" style="width: 69px; text-align: center">Amb. Id</th>
                                    <th style="text-align: center">Ambulance</th>
                                    <th class="hidden" style="text-align: center">Pat Id</th>
                                    <th style="width: 295px; text-align: center">Patient Name</th>
                                    <th style="text-align: center">Request Date</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr id="Table" dir-paginate="obj in obj.ambulanceInfo | cartypefilter:search  |itemsPerPage:10" ng-class="{'T_DISCH_STATUS_COLOR': (obj.T_DISCH_STATUS == '1'),'T_CANCEL_STATUS_COLOR':(obj.T_CANCEL_STATUS == '1')}">
                                    <td style="text-align: center">
                                        <input type="checkbox" id="chkUpdate{{$index}}" ng-model="obj.T_ACTIVE" ng-true-value="'1'" ng-false-value="'2'">
                                    </td>
                                    <td class="Hidden" style="text-align: center">
                                        <span id="AmbuId{{$index}}">{{obj.T_AMBU_REG_ID}}</span>
                                    </td>
                                    <td style="text-align: center">
                                        <span id="PatientId{{$index}}">{{obj.AmbulanceName}}</span>
                                    </td>
                                    <td class="Hidden" style="text-align: center">
                                        <span>{{obj.T_PAT_ID}}</span>
                                    </td>

                                    <td style="text-align: center">
                                        <span>{{obj.patientname}}</span>
                                    </td>
                                    <td style="text-align: center">
                                        <span>{{obj.T_REQUEST_DATE |  date:'dd/mm/yy'}}</span>
                                    </td>
                                    <td class="Hidden" style="text-align: center">
                                        <span>{{obj.T_DISCH_STATUS}}</span>
                                    </td>
                                    <td class="Hidden" style="text-align: center">
                                        <span>{{obj.T_CANCEL_STATUS}}</span>
                                    </td>
                                    <td class="Hidden" style="text-align: center">
                                        <input type="checkbox" id="chkUpdatePrevius{{$index}}" ng-model="obj.T_ACTIVE" ng-true-value="'1'" ng-false-value="'2'">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div style="margin-left: 90px">
                            <dir-pagination-controls max-size="5"
                                                     direction-links="true"
                                                     boundary-links="true">
                            </dir-pagination-controls>
                        </div>
                    </center>
                </div>
            </div>
        </div>
    </div>
</div>
