body {
    font-family: arial;
    font-size: .8em;
    color: #5b5b5b;
}

#bg {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: -999;
}

#topbar {
    color: #fafafa;
}

#topbarBg {
    position: fixed;
    top: 0;
    left: 0;
    height: 36px;
    width: 100%;
    -ms-opacity: 0.8;
    opacity: 0.8;
    z-index: -998;
}

#calender {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: -997;
}

#headerBg {
    position: fixed;
    top: 36px;
    right: 38px;
    height: 68px;
    width: 100%;
    -ms-opacity: 0.9;
    opacity: 0.9;
    z-index: -996;
}

#pageLeftPanelBg {
    position: fixed;
    top: 36px;
    right: 0;
    bottom: 0;
    height: 690px;
    width: 70px;
    -ms-opacity: 0.9;
    opacity: 0.9;
    z-index: -995;
}

#topbarSeparator {
    position: fixed;
    top: 0;
    right: 240px;
    height: 36px;
    width: 2px;
    z-index: -994;
}

#whiteLogo {
    position: fixed;
    left: 10px;
    z-index: -993;
}

#datePanel {
    padding: 3px 25px 0 0;
    float: right;
    direction: rtl;
}

#formInfo {
    margin-right: 55px;
    padding: 3px;
    float: right;
    direction: rtl;
}

    #formInfo select {
        margin: -3px 10px;
    }

.clear {
    overflow: hidden;
    width: 100%;
}

#header {
    width: 100%;
    margin-top: 17px;
}

#user {
    float: right;
    margin: -4px 55px 0 0;
    height: 46px;
    width: 46px;
    border: 2px solid #a21217;
    -ms-border-radius: 5px;
    border-radius: 5px;
    background-color: #fafafa;
}

#usericon {
    margin: 8px 0 0 11px;
}

#userName {
    float: right;
    width: 15%;
    padding: 14px 10px 0 0;
    color: #c12d2d;
    font-size: 1.2em;
    font-weight: bold;
    direction: rtl;
}

#logo {
    float: right;
    margin-right: 45px;
    width: 145px;
}

#title {
    float: left;
}

    #title span {
        display: inline-block;
        margin-top: 8px;
        font-size: 2.2em;
        font-weight: bold;
        text-transform: uppercase;
    }

span.red {
    color: #c12d2d;
}

span.gray {
    margin-right: 20px;
    color: #7a7a7a;
}

#options {
	float: right;
	margin-right: -4px; /*-7*/
	height: 80vh;
	width: 40px;
	margin-top: -27px; /*-60*/
}
#options11 {
	float: right;
	margin-right: -1px;
	height: 80vh;
	width: 40px;
	margin-top: -27px;
}
#navigation {
	position: fixed;
	width: 223px;
	bottom: 10px;
}

#container {
    position: fixed;
    top: 120px;
    bottom: 15px;
    left: 15px;
    right: 52px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid rgb(217, 220, 220);
    background-color: #fff;
    background-color: rgba(250, 250, 250, .8);
    overflow-y: auto;
    direction: rtl;
}

    #container input:not([type="submit"]), #container select, #container textarea {
        font-family: inherit;
        font-size: inherit;
        color: #5b5b5b;
        -ms-border-radius: 3px;
        border-radius: 3px;
        height: 22px;
        border: solid 1px #ccc;
        background-image: linear-gradient(to top, #fff, #eee);
        padding: 0 3px;
    }

    #container select {
        height: 24px;
    }

        #container input:not([type="submit"]):focus, #container select:focus, #container textarea:focus {
            box-shadow: 0 1px 3px #a21217;
        }

    #container input[type="submit"] {
        border: 1px solid #ccc;
        border-radius: 3px;
        height: 24px;
    }

input[type="radio"], input[type="checkbox"] {
    height: 11px !important;
}

.upper {
    text-transform: uppercase;
}

.td_label {
    text-align: left;
}

.center_label {
    text-align: center;
}

.Hidden {
    display: none;
}

.popup {
    background-color: #fff;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
}

    .popup div.title {
        width: 100%;
        font-size: 1.2em;
        font-weight: bold;
        margin-bottom: 5px;
        color: #f7f7f7;
        background-color: #c12d2d;
        border-radius: 3px;
    }

#simplemodal-container a.modalCloseImg {
    background: url(../Images/x.png) no-repeat;
    width: 25px;
    height: 29px;
    display: inline;
    z-index: 3200;
    position: absolute;
    top: -12px;
    right: -12px;
    cursor: pointer;
}

.grid {
    margin: 0 auto;
}

.grid th {
    color: #f7f7f7;
    background-color: #c12d2d;
    cursor: default;
}

.grid, .grid th, .grid td {
    border: 2px solid #a21217;
    padding: 2px 2px 0 2px;
    text-align: center;
}

    .grid tr:hover {
        color: #f7f7f7;
        background-color: #e17d7d;
        cursor: pointer;
    }

.selected {
    color: #f7f7f7;
    background-color: #e17d7d;
}

.pgr table {
    margin: 0 auto;
}

.pgr tr:hover {
    border: none;
    color: #5b5b5b;
    background-color: #fff;
}

.pgr td {
    border: none;
    font-size: 1.1em;
    font-weight: bold;
}

    .pgr td:hover {
        color: #5b5b5b;
        background-color: #fff;
        cursor: default;
    }

.pgr a {
    color: #c12d2d;
}

#version {
    position: fixed;
    left: 20px;
    bottom: 20px;
}

.Button {
    margin: 2px 0 0 4px;
    display: block;
    height: 36px;
    width: 36px;
    border: 1px solid rgb(190, 190, 190);
    -ms-border-radius: 4px;
    border-radius: 4px;
}

    .Button:enabled:active {
        background-position: 1px 2px;
    }

    .Button:disabled {
        background-color: rgb(190, 190, 190);
    }

.New {
    background: url("../Images/new.png") no-repeat;
    background-position: 1px 1px;
}

.Save {
    background: url("../Images/save.png") no-repeat;
    background-position: 1px 1px;
}

.Next {
    background: url("../Images/nextblock.png") no-repeat;
    background-position: 1px 1px;
}

.Delete {
    background: url("../Images/delete.png") no-repeat;
    background-position: 1px 1px;
}

.Clear {
    background: url("../Images/clear.png") no-repeat;
    background-position: 1px 1px;
}

.Enter {
    background: url("../Images/enterquery.png") no-repeat;
    background-position: 1px 1px;
}

.Cancel {
    background: url("../Images/cancelquery.png") no-repeat;
    background-position: 1px 1px;
}

.Execute {
    background: url("../Images/executequery.png") no-repeat;
    background-position: 1px 1px;
}

.Print {
    background: url("../Images/print.png") no-repeat;
    background-position: 1px 1px;
}

.Back {
    background: url("../Images/back.png") no-repeat;
    background-position: 1px 1px;
}

.Logout {
    background: url("../Images/logoutpg.png") no-repeat;
    background-position: 1px 1px;
}

.overlay {
    background: url("../Images/working.gif") no-repeat;
    background-position: center;
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -ms-opacity: 0.5;
    opacity: 0.5;
    filter: alpha(opacity=50);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    z-index: 10000;
}
