
@{
    ViewBag.Title = "Q74137";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Apps/JSController/Query/Q74137Controller.js"></script>
<script src="~/Apps/JSService/Query/Q74137Service.js"></script>
<script src="~/Apps/JSService/LabelService.js"></script>
<style>
    table, tr, td {
        border: 1px solid black;
    }
</style>

@section container{
    <div id="options" ng-app="Ambucare" ng-controller="Q74137Controller">
        <button id="btnSave" tooltip="Save" class="Button Save" ng-click="Save()" ng-disabled="obj.myDiv.$invalid"></button>
        <button id="btnClear" tooltip="Clear" class="Button Clear" ng-click="Clear()"></button>
        <button id="btnUnknown" tooltip="Unknown" class="Button glyphicon glyphicon-user" style="background-color:#a21217" ng-click="unknown()"></button>
    </div>
}
<div class="form-horizontal" ng-app="Ambucare" ng-controller="Q74137Controller" name="obj.myDiv" novalidate ng-form>
<div class="container" style="padding-top: 1%">
    <div class="row" style=" border: 1px solid #A21217; border-radius: 5px;padding: 5px">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div ng-repeat="field in entity track by $index" class="ng-cloak" ng-if="field.T_LABEL_NAME=='lblCurrPendingReq'"
                 style="text-align: center; font-weight: bold;font-size: large"> {{ field.T_LANG2_TEXT }}</div>
            <div class="row" style="padding-top: 2px;">
                <table style="width: 100%">
                    <thead style="text-align: center; display: table; width: 100%;">
                    <tr style="background-color: #c12d2d; color: #ffffff;">
                        <td style="width: 5%; text-align: center;" ng-repeat="field in entity track by $index" ng-if="field.T_LABEL_NAME=='lblReqNo'" class="ng-cloak">{{field.T_LANG2_TEXT}}</td>
                        <td style="width: 40%; text-align: center;" ng-repeat="field in entity track by $index" ng-if="field.T_LABEL_NAME=='lblPatName'" class="ng-cloak">{{field.T_LANG2_TEXT}}</td>
                        <td style="width: 10%; text-align: center;" ng-repeat="field in entity track by $index" ng-if="field.T_LABEL_NAME=='lblMobile'" class="ng-cloak">{{field.T_LANG2_TEXT}}</td>
                        <td style="width: 5%; text-align: center;" ng-repeat="field in entity track by $index" ng-if="field.T_LABEL_NAME=='lblGender'" class="ng-cloak">{{field.T_LANG2_TEXT}}</td>
                        <td style="width: 35%; text-align: center;" ng-repeat="field in entity track by $index" ng-if="field.T_LABEL_NAME=='lblLoc'" class="ng-cloak">{{field.T_LANG2_TEXT}}</td>
                        <td style="width: 5%; text-align: center;" ng-repeat="field in entity track by $index" ng-if="field.T_LABEL_NAME=='lblTime'" class="ng-cloak">{{field.T_LANG2_TEXT}}</td>
                        @*<td style="width: 6%;text-align: center;" class="ng-cloak">Assign</td>
                        <td style="width: 6%;text-align: center;" class="ng-cloak">Cancel</td>*@

                    </tr>
                    </thead>
                    <tbody style="max-height: 300px; min-height: 0px; overflow: auto; overflow-x: hidden; display: block;">

                    <tr ng-repeat="B in obj.PendingRequestList" ng-class="{'selected':$index == selectedRow}" ng-click="setClickedRow($index,B,'ShowPendingPopup')" style="display: table; text-align: center; width: 100%; table-layout: fixed;">
                        <td style="width: 5%; text-align: center;">{{B.T_REQUEST_ID}}</td>
                        <td style="width: 40%; text-align: left; padding-left: 5px">{{B.PAT_NAME}}</td>
                        <td style="width: 10%; text-align: center;">{{B.T_MOBILE_NO}}</td>
                        <td style="width: 5%; text-align: center;">{{B.GENDER}}</td>
                        <td style="width: 35%; text-align: center;">{{B.T_MAP_LOC}}</td>
                        <td style="width: 5%; text-align: center;">{{B.REQUEST_TIME}}</td>
                        @*<td style="width: 6%; text-align: center;"><img src="~/Images/Accept.png" ng-click="Assing_Click($index)" style="height: 25px;"/></td>
                        <td style="width:6%;text-align: center;"><img src="~/Images/Reject.png" ng-click="CancelRequest_Click($index)" style="height: 25px;"/></td>*@
                        <td class="hidden">{{B.T_FIRST_LANG2_NAME}}</td>
                        <td class="hidden">{{B.T_FATHER_LANG2_NAME}}</td>
                        <td class="hidden">{{B.T_GFATHER_LANG2_NAME}}</td>
                        <td class="hidden">{{B.T_AGE}}</td>
                        <td class="hidden">{{B.T_SEX_CODE}}</td>
                        <td class="hidden">{{B.T_ALT_MOBILE_NO}}</td>
                        <td class="hidden">{{B.T_PROBLEM}}</td>
                        <td class="hidden">{{B.T_PROBLEM_DURATION}}</td>
                        <td class="hidden">{{B.T_NATIONAL_ID}}</td>
                        <td class="hidden">{{B.T_LATITUDE}}</td>
                        <td class="hidden">{{B.T_LONGITUDE}}</td>
                    </tr>
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>




@*Request pending Popup start*@
@*<div id="ShowPendingPopup" class="omf-modal">

    <div class="omf-modal-body">

        <div class="omf-modal-header" style="background-color: #c12d2d;">

            <label class="ng-cloak" id="lblBedInfromation" style="width: 97%;text-align: center;color: #ffffff">Request Pending List</label><input type="button" style="background: url(../Images/Cancel_White.png); background-size: 15px; background-repeat: no-repeat; background-position: center; width: 3%; padding-bottom: 7px; border-color: #c12d2d" ng-click="ClosePopup('ShowPendingPopup')" />
        </div>
        <div class="omf-modal-div-placeholder">
            <input type="text" style="float: right; width: 30%; height: 25px" placeholder="Search...." class="form-control" ng-model="Search1" />

        </div>
        <form class="form-horizontal" ng-submit="Receive()" role="form" name="ReceivepeForm" novalidate>
            <div class="form-group" ng-class="{'has-error': ReceivepeForm.T_SERVICE_NAME.$touched && ReceivepeForm.T_SERVICE_NAME.$error.required , 'has-success': ServiceTypeForm.T_SERVICE_NAME.$valid }">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <table id="bedPopUpTable" style="width: 100%">
                        <thead style="text-align: center; display: table; width: 100%;">
                        <tr style=" background-color: #c12d2d; color: #ffffff;">
                            <td style="width: 5%;text-align: center;" class="ng-cloak">ReqNo</td>
                            <td style="width: 33%;text-align: center;" class="ng-cloak">Patent Name</td>
                            <td style="width: 10%;text-align: center;" class="ng-cloak">Mobile</td>
                            <td style="width: 5%;text-align: center;" class="ng-cloak">Gender</td>
                            <td style="width: 30%;text-align: center;" class="ng-cloak">Location</td>
                            <td style="width: 5%;text-align: center;" class="ng-cloak">Time</td>
                            <td style="width: 6%;text-align: center;" class="ng-cloak">Assign</td>
                            <td style="width: 6%;text-align: center;" class="ng-cloak">Cancel</td>

                        </tr>
                        </thead>
                        <tbody style="max-height:300px; min-height:0px; overflow:auto; overflow-x:hidden; display:block;">

                        <tr ng-repeat="B in obj.PendingRequestList" ng-class="{'selected':$index == selectedRow}" ng-click="setClickedRow($index,B,'ShowPendingPopup')" style="display:table;text-align: center;width:100%;	table-layout:fixed;">
                            <td style="width: 5%;text-align: center;">{{B.T_REQUEST_ID}}</td>
                            <td style="width:33%;text-align:left;padding-left: 5px">{{B.PAT_NAME}}</td>
                            <td style="width:10%;text-align: center;">{{B.T_MOBILE_NO}}</td>
                            <td style="width:5%;text-align: center;">{{B.GENDER}}</td>
                            <td style="width:30%;text-align: center;">{{B.T_MAP_LOC}}</td>
                            <td style="width:5%;text-align: center;">{{B.REQUEST_TIME}}</td>
                            <td style="width: 6%; text-align: center;"><img src="~/Images/Accept.png" ng-click="Assing_Click($index)" style="height: 25px;"/></td>
                            <td style="width:6%;text-align: center;"><img src="~/Images/Reject.png" ng-click="CancelRequest_Click($index)" style="height: 25px;"/></td>
                            <td class="hidden">{{B.T_FIRST_LANG2_NAME}}</td>
                            <td class="hidden">{{B.T_FATHER_LANG2_NAME}}</td>
                            <td class="hidden">{{B.T_GFATHER_LANG2_NAME}}</td>
                            <td class="hidden">{{B.T_AGE}}</td>
                            <td class="hidden">{{B.T_SEX_CODE}}</td>
                            <td class="hidden">{{B.T_ALT_MOBILE_NO}}</td>
                            <td class="hidden">{{B.T_PROBLEM}}</td>
                            <td class="hidden">{{B.T_PROBLEM_DURATION}}</td>
                            <td class="hidden">{{B.T_NATIONAL_ID}}</td>
                            <td class="hidden">{{B.T_LATITUDE}}</td>
                            <td class="hidden">{{B.T_LONGITUDE}}</td>
                        </tr>
                        </tbody>

                    </table>
                </div>
            </div>
        </form>
    </div>
</div>*@
@*Request pandding Popup end*@
</div>

